<h1>Let's play a game!</h1>
<form action='/guess' method='post'>
  <div class="form-group">
    <label for="word1">Write a story for a friend to guess without the vowels!</label>
    <input id="user1" name="user1" class="form-control" type="text">
  </div>
 	<button type="submit" class="btn btn-primary">Give It A Try!</button>
</form>