
<p> Can YOU guess what is being said here??? $outPut</p>


<form action='/score2'>
  <div class="form-group">
    <label for="word2">What do you think has been said?</label>
    <input id="user2" name="user2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>